/*общие стили*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, sans-serif;
    font-size:16px;
    background-color: #ffffff;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.main-header {
    background-color: #eeeeee;
}
header ul, main ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.title-text {
    text-transform: uppercase;
}
.header-navigation a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.header-navigation a:hover {
    color: #fb565a;
}
.header-navigation a:active {
    color: #bababa;
}
.target {
    border-bottom: 2px solid #fb565a;
}
.hidden-item {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0px;
}
.footer-navigation {
    font-style: normal;
}
.footer-navigation img{
    
}
address p:first-child {
    font-weight: bold;
    font-size: 18px;
}
address p:nth-child(2) {
    color: #8f8f8f;
}
.footer-navigation-phone-number {
    color: inherit;
}
.footer-navigation .write-us {
    color: #ffffff;
    background-color: #fb565a;
}
.tagline p:first-child {
    font-size: 36px;
}
.tagline p:nth-child(2) {
    font-size: 16px;
    color: #444444;
}
.partners-list a {
    opacity: 0.4;
}
.partners-list a:hover {
    opacity: 1;
}
.partners-list a:active {
    opacity: 0.1;
}
.social-item {
    background-color: #e1e1e1;
}
.social-item:hover {
    background-color: #e74246;
}
.social-item:active {
    background-color: #d7373b;
}
.pop-up{
    
}

/*Шрифты и фоны*/
/*index*/
.slider{
    background-color: #eeeeee;
}
.slider-list h3 {
    font-size: 55px;
    color: #000000;
    line-height: 55px;
}
.slider-list p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    line-height: 24px;
    width: 360px;
}
.slider-list-button {
    background-color: #fb565a;
    color: #ffffff;
}
.slider-list-button:hover {
    background-color: #e74246;
}
.slider-list-button:active {
    background-color: #d7373b;
    color: #e37376;
}
.services-list h3 {
    font-size: 24px;
    line-height: 30px;
}
.services-list p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 260px;
}
.services-list-button{
    color: #ffffff;
    line-height: 18px;
}
.services-site-button {
    background-color: #fb565a;
} 
.services-site-button:hover {
    background-color: #e74246;
} 
.services-site-button:active {
    background-color: #d7373b;
    color: #e06366;
    border-top:2px solid #c13135;
} 
.services-app-button {
    background-color: #00ca74;
} 
.services-app-button:hover {
    background-color: #00bc6c;
} 
.services-app-button:active {
    background-color: #00aa62;
    color: #48c28e;
    border-top: 2px solid #009958;
} 
.services-presentation-button {
    background-color: #efc84a;
}
.services-presentation-button:hover {
    background-color: #eab534;
}
.services-presentation-button:active {
    background-color: #e5a722;
    color: #edc265;
    border-top: 2px solid #ce961f;
}
.about-us-principles .about-us-slogan {
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
}
.about-us-text {
    font-size: 16px;
    font-weight: 400;
    color: #283136;
}
.about-us-principles-list {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
}
.about-us-statistics table tr:first-child {
    font-size: 30px;
    font-weight: bold;
    font-size: 45px;
}
.about-us-statistics table tr:nth-child(2) {
    color: #283136;
    font-size: 16px;
    line-height: 18px;
}
/*shop*/
.headline-shop {  
    font-size: 55px;
    color: #000000;
    background-color: #eeeeee;
    line-height: 55px;
}
.filter {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}
.filter-headline {
    font-weight: 400;
    font-size: 18px;
}
.filter-grid, .filter-features label {
    font-size: 16px;
    font-weight: 400;
    color: #283136;
}
.filter-form-item-style {
    border: 2px solid #d7dcde;
}
.filter-form-item-style:hover {
    border: 2px solid #b4b9bb;
}
.filter-form-item-style:focus {
    border: 2px solid #000000;
    color: #000000;
}
.filter-type-list a {
    color: #b2b2b2;
}
.filter-type-list a:hover {
    color: #666666;
}
.filter-type-list a:active {
    color: #000000;
}
.filter-form-button {
    font-weight: 500;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
}
.filter-form-button:hover {
    background-color: #dfdfdf;
}
.filter-form-button:active {
    background-color: #d5d5d5;
    color: #959595;
    border-top: 3px solid #bfbfbf;}
.filter-form-button:active {
    background-color: #d5d5d5;
    color: #959595;
    border-top: 3px solid #bfbfbf;
}
.catalog-decorative-control-panel {
    background-color: #e9e9e9;
}
.catalog-item-buy {
    background-color: #eeeeee;
}
.catalog-item-buy h3 {
    font-size: 18px;
    line-height: 30px;
}
.catalog-item-buy p {
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    line-height: 18px;
}
.catalog-item-buy-button {
    color: #ffffff;
    background-color: #fb565a;
    font-size: 16px; 
    line-height: 18px;
}
.catalog-item-buy-button:hover {
    background-color: #e74246;
}
.catalog-item-buy-button:active {
    background-color: #d7373b;
}
.catalog-list-nav a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    background-color: #eeeeee;
}
.catalog-list-nav a:hover {
    background-color: #dfdfdf;
}
.catalog-list-nav a:active {
    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;
    color: #959595;
}
/*поп ап*/
.pop-up-form-item-style {
    border: 2px solid #d7dcde;
}
.pop-up-form-item-style:hover {
    border: 2px solid #b4b9bb;
}
.pop-up-form-item-style:focus {
    border: 2px solid #000000;
    color: #000000;
}
.pop-up-send-form {
    color: #ffffff;
    background-color: #fb565a;
    font-size: 16px; 
    line-height: 18px;
    border: none;
}
.pop-up-send-form:hover {
    background-color: #e74246;
}
.pop-up-send-form:active {
    background-color: #d7373b;
    color: #e06366;
}
.pop-up-close-button {
    border: none;
    background-color: #ffffff;
}
/*сетка*/
/*index*/ 
.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: content-box;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
}
.header-logo {
    width: 160px;
}
.header-navigation-menu {
    width: 440px;
}
.basket {
    width:160px;
}
.slider-list {
    display: flex;
}
.slider-list h3 {
    margin: 0;
}
.services-list {
    display: flex;
    justify-content: space-around;
}
.slider-list li {
    width: 1160px;
}
.about-us {
    display: flex;
    box-sizing: content-box;
}
.about-us-principles {
    width: 660px;
}
.about-us-statistics {
    width: 360px;
    margin-left: 140px;
}
.partners-list {
    display: flex;
    justify-content: space-around;
}
.partners-list li {
    width: 260px;
    text-align: center;
}
.index-footer-columns {
    display: flex;
    justify-content: center;
}

/*shop*/
.headline-shop {
    text-align: center;
    margin: 0;
    padding:  115px 0; 
}
.shop-main-columns {
    display: flex;
    justify-content: center;
}
.filter {
    width: 260px;
}
.catalog {
    width: 760px;
    margin-left: 140px;
}
.catalog-item-buy-column {
    width:240px; 
    margin:0 auto; 
    text-align: center;
}
.catalog-item-buy h3 {
    margin: 0;
}
.catalog-list-template {
    display: flex;    
    flex-wrap: wrap;
}
.tagline {
    margin-left: 140px;
}
.social-list {
    width: 260px;
}
