/*общие стили*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    background-color: #ffffff;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}
.title-text {
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-header {
    background-color: #eeeeee;
}
.header-navigation a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.header-navigation a:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fb565a;
}
.header-navigation a:active {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #bababa;
}
.target {
    border-bottom: 2px solid #fb565a;
}
.hidden-item {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0px;
}
footer{
    font-family: 'Roboto', sans-serif;
}
address {
    font-style: normal;
}
address p:first-child {
    font-weight: bold;
    font-size: 18px;
}
address p:nth-child(2) {
    color: #8f8f8f;
}
.footer-navigation-phone-number {
    color: inherit;
}
.footer-navigation .write-us {
    color: #ffffff;
    background-color: #fb565a;
}
.tagline p:first-child {
    font-size: 36px;
}
.tagline p:nth-child(2) {
    font-size: 16px;
    color: #444444;
}
.partners-list a {
    opacity: 0.4;
}
.partners-list a:hover {
    opacity: 1;
}
.partners-list a:active {
    opacity: 0.1;
}
.social-item {
    background-color: #e1e1e1;
}
.social-item:hover {
    background-color: #e74246;
}
.social-item:active {
    background-color: #d7373b;
}
.pop-up{
    display: none;
}
/*Шрифты и фоны*/

/*index*/
.slider{
    background-color: #eeeeee;
}
.slider-list h3 {
    font-size: 55px;
    color: #000000;
    line-height: 55px;
}
.slider-list p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    line-height: 24px;
}
.slider-list-button {
    background-color: #fb565a;
    color: #ffffff;
    line-height: 18px;
}
.slider-list-button:hover {
    background-color: #e74246;
    color: #ffffff;
    line-height: 18px;
}
.slider-list-button:active {
    background-color: #d7373b;
    color: #e37376;
    line-height: 18px;
}
.services {
    font-family: 'Roboto', sans-serif;
}
.services-list h3 {
    font-size: 24px;
    line-height: 30px;
}
.services-list p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.services-list-button{
    color: #ffffff;
    line-height: 18px;
}
.services-site-button {
    background-color: #fb565a;
} 
.services-site-button:hover {
    background-color: #e74246;
} 
.services-site-button:active {
    background-color: #d7373b;
    color: #e06366;
    border-top:2px solid #c13135;
} 
.services-app-button {
    background-color: #00ca74;
} 
.services-app-button:hover {
    background-color: #00bc6c;
} 
.services-app-button:active {
    background-color: #00aa62;
    color: #48c28e;
    border-top: 2px solid #009958;
} 
.services-presentation-button {
    background-color: #efc84a;
}
.services-presentation-button:hover {
    background-color: #eab534;
}
.services-presentation-button:active {
    background-color: #e5a722;
    color: #edc265;
    border-top: 2px solid #ce961f;
}
.about-us{
    font-family: 'Roboto', sans-serif;
}
.about-us-principles .about-us-slogan {
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
}
.about-us-text {
    font-size: 16px;
    font-weight: 400;
    color: #283136;
    line-height: 24;
}
.about-us-principles-list {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
}
.about-us-statistics table tr:first-child {
    font-size: 30px;
    font-weight: bold;
    font-size: 45px;
}
.about-us-statistics table tr:nth-child(2) {
    color: #283136;
    font-size: 16px;
    line-height: 18px;
}
/*shop*/
h1 {
    font-size: 55px;
    color: #000000;
    background-color: #eeeeee;
    line-height: 55px;
}
.filter {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}
.filter-headline {
    font-weight: bold;
    font-size: 18px;
}
.filter-grid, .filter-features label {
    font-size: 16px;
    font-weight: 500;
    color: #283136;
}
.filter-type-list a {
    color: #b2b2b2;
}
.filter-type-list a:hover {
    color: #666666;
}
.filter-type-list a:active {
    color: #000000;
}
.filter-form-button {
    font-weight: 500;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
}
.catalog-decorative-control-panel {
    background-color: #e9e9e9;
}
.catalog-item-buy {
    background-color: #eeeeee;
}
.catalog-item-buy h3 {
    font-size: 18px;
    line-height: 30px;
}
.catalog-item-buy p {
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    line-height: 18px;
}
.catalog-item-buy-button {
    color: #ffffff;
    background-color: #fb565a;
    font-size: 16px; 
    line-height: 18px;
}
.catalog-item-buy-button:hover {
    color: #ffffff;
    background-color: #e74246;
    font-size: 16px; 
    line-height: 18px;
}
.catalog-item-buy-button:active {
    color: #ffffff;
    background-color: #d7373b;
    font-size: 16px; 
    line-height: 18px;
}
.catalog-list-nav a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    background-color: #eeeeee;
    border: 3px solid #eeeeee;
}
.catalog-list-nav a:hover {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}